<div class="container py-5">
    <h3 class="text-center text-uppercase">List of Service Subcategories</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="text-center text-uppercase">
                <th>Subcategory Name</th>
                <th>Category Name</th>
                <th>Description</th>
                <th style="width:25%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subcategory of subcategories; let idx = index">
                <td>{{subcategory.subCategoryName}}</td>
                <td>{{subcategory.categoryName}}</td>
                <td>{{subcategory.description}}</td>
                <td>
                    <div class="btn-group-sm btn-group-horizontal">
                        <button class="btn btn-primary dls-btn-space dls-small-btn" (click)="editSubcategory(idx, subcategory)">Edit</button>
                        <button class="btn btn-danger dls-btn-space dls-small-btn" (click)="delSubcategory(subcategory)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-sm btn-outline-primary" (click)="addNewSubcategory()">Add New Subcategory</button>
</div>